<h5>コメント一覧(<%= comments.count %>)</h5>
<table class="table">
  <thead class="table-success">
   <tr>
     <th>コメント日</th>
     <th>ユーザー名</th>
     <th>内容</th>
     <th></th>
   </tr>
  </thead>
  <tbody>
    <% comments.each do |comment| %>
    <tr>
    　<td><%= comment.created_at.strftime("%Y/%m/%d") %> </td>
      <td><%= comment.user.name %></td>
      <td><%= comment.content %></td>
      <td>
       <% if comment.user == current_user %>
        <p><%= link_to 'コメント削除', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "btn btn-danger" %></p>
       <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>