<div class="container">
  <div class="row">
    <div class="col-md-10">
     <h2 class="my-4">"<%= @content %>"の検索結果</h2>
      <% if @courses.present? %>
        <table class="table">
         <thead>
           <tr>
             <th>コース名</th>
             <th>コース住所</th>
             <th></th>
           </tr>
         </thead>

         <tbody>
           <% @courses.each do |course| %>
           <tr>
             <td><%= course.name %></td>
             <td>〒<%= course.postcode %><br>
             　<%= course.prefecture_name %><%= course.address_city %><%= course.address_street %>
             </td>
             <td>
               <%= link_to "コース詳細/レビュー投稿", course_path(course), data: {"turbolinks" => false}, class: "btn btn-primary btn-sm" %>
             </td>
           </tr>
           <% end %>
         </tbody>
   　　　</table>
      <% else %>
       <div class="text-center my-5">
         お探しの検索ワードでは何もありません
       </div>
      <% end %>
      <div class="text-center mt-4">
       <p>
         お探しのコースが見つからない場合は、お手数ですが<br>
         <%= link_to "こちら", new_course_path, data: {"turbolinks" => false} %>からコース登録をお願いします
       </p>
      </div>
    </div>
  </div>
</div>

