<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="my-4">プロフィール編集</h2>
       <%= form_with model:@user, local:true do |f| %>
        <table class="table form-group mt-2">
          <%= render 'layouts/error_messages', model: f.object %>
          <tr>
            <th>名前</th>
            <td>
              <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control"%>
            </td>
          </tr>
          <tr>
            <th>プロフィール画像</th>
            <td>
              <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "profile_no_image.png", size: "50x50"%>
              <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "form-control-file" %>
            </td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td>
              <%= f.text_area :introduction, placeholder: "自己紹介を記載しましょう！お気に入りのコースや平均スコア等", size: "20x5", class: "form-control" %>
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= f.submit "変更を保存", class: "btn btn-info btn-lg" %>
             <div class="text-right">
               <%= link_to '削除する', user_path(@user), method: :delete, data: {confirm: "本当に削除しますか？ユーザーデータや投稿データは削除されます"}, class: "btn btn-danger"  %>
             </div>
            </td>
          </tr>
       <% end %>
        </table>
    </div>
  </div>
</div>






