
<div class="container">
  <% if @user == current_user %>
   <h2 class="my-3">マイページ</h2>
  <% else %>
   <h2 class="my-3"><%= @user.name %>さんの詳細</h2>
  <% end %>

 <div class="row">
  <div class="col-md-3">
   <h4 class="my-3">ユーザー情報</h4>
    <table class='table'>
     <tr><%= attachment_image_tag(@user, :profile_image, :fill, 150, 150, fallback: "profile_no_image.png", size: '150x150') %></tr>
     <tr>
	     <th>名前</th>
	     <td><%= @user.name %></td>
     </tr>
     <tr>
	     <th>自己紹介</th>
	     <td><%= @user.introduction %></td>
     </tr>
     <tr>
      <% if @user == current_user %>
       <td><%= link_to '編集する', edit_user_path(@user), class: "btn btn-primary btn-sm" %></td>
      <% end %>
     </tr>
    </table>
   </div>
   <div class="col-md-9">
     <h4 class="my-3">投稿一覧</h4>
      <%= render "post_index", obj: @posts %>
       <div><%= paginate @posts, theme: 'twitter-bootstrap-4' %></div>
     <h4 class="my-3">お気に入り一覧</h4>
     <%= render "post_index", obj: @favorite_list %>
   </div>
 </div>
</div>





