
<div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 mx-auto ">
            <h1 class="text-light"> GOLFERS</h1>
             <p class="text-light bg-dark"> ゴルフ場のレビューサイトです！まずは会員登録をしてレビューを投稿してみましょう！！
              <% if user_signed_in? %>
               <%= link_to "コース一覧へ", courses_path, class: "btn btn-outline-light btn-lg ml-5" %>
              <% else %>
               <%= link_to "新規登録をする", new_user_registration_path, class: "btn btn-outline-light btn-lg ml-5" %>
              <% end %>
             </p>
          </div>
        </div>
      </div>
  </div>
<div class="container">
  <h2>新着投稿</h2>
 <div class="row">
   <% @posts.each do |post| %>
  <div class="col-4">
     <div class="card mt-2 shadow-sm">
      <div class="card-img-top" >
        <% if post.post_images.present? %>
         <% post.post_images.first(1).each do |image| %>
          <%= attachment_image_tag(image, :image, width: '100%', height: '200px') %>
         <% end %>
        <% else %>
         <%= image_tag 'post_no_image.png', width: '100%', height: '200px'%>
        <% end %>
      </div>
      <div class="card-body">
       <div class="row">
        <div class="col-3">
         <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "profile_no_image.png", size: "60x60", class:"rounded-circle"; %>
        </div>
        <div class="col-9">
          <div class="card-title text-left">
           <h5 class="card-header"><%= post.title %></h5>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-11">
         <h6>コース名：<%= post.course.name %></h6>
          <div id="star-rate-<%= post.id %>"></div>
         <p class="card-text">
          <%= post.body %>
         </p>
          <%= link_to "詳細へ行く", post_path(post), data: {"turbolinks" => false}, class: "btn btn-info" %>
        </div>
      </div>
     </div>
     </div>
  </div>
   <%= render 'layouts/star', post: post %>
  <% end %>
 </div>
 <div class="row">
   <div class="col-md-8 mx-auto mt-5">
    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
   </div>
  </div>

</div>


