
<table class="table">
   <thead class="table-success">
     <tr>
       <th>コース名</th>
       <th>コース住所</th>
       <th>レビュー(平均)</th>
       <th></th>
     </tr>
   </thead>

   <tbody>
     <% obj.each do |course| %>
     <tr>
       <td><%= course.name %></td>
       <td>〒<%= course.postcode %><br>
       　<%= course.prefecture_name %><%= course.address_city %><%= course.address_street %>
       </td>
        <td><%= course.avg_score %>/5.0(<%= course.posts.count %>件)<div id="star-rate-<%= course.id %>"></div></td>
       <td>
         <%= link_to "コース詳細/レビュー投稿", course_path(course.id), data: {"turbolinks" => false}, class: "btn btn-primary btn-sm" %>
       </td>
     </tr>
   <%= render 'avg-star', course: course %>
     <% end %>
   </tbody>
 </table>
