

<table class="table">
   <thead>
     <tr>
       <th>コース名</th>
       <th>コース住所</th>
       <th></th>
     </tr>
   </thead>

   <tbody>

<% @courses.each do |course| %>
     <tr>
       <td><%= course.name %></td>
       <td>〒<%= course.postcode %><br>
       　<%= course.prefecture_name %><%= course.address_city %><%= course.address_street %>
       </td>
       <td>
         <%= link_to "コース詳細", course_path(course.id) %>
       </td>
     </tr>
     <% end %>
   </tbody>
 </table>