<div class="container">
 <div class="row">
  <div class="col-md-3 my-4">
   <h2>コース詳細</h2>
   <!--管理者のみ表示-->
   <% if current_user.admin? %>
    <%= link_to '編集する', edit_course_path(@course), class: "btn btn-info" %>
   <% end %>
  </div>
 </div>

 <div class="row">
   <div class="col-md-5">
     <table class="table mt-5">
      <tr>
        <th class="table-success">コース名</th>
        <td><%= @course.name %></td>
      </tr>
      <tr>
       <th class="table-success">住所</th>
       <td><%= @course.address %></td>
      </tr>
      <tr>
       <th class="table-success">レビュー</th>
       <td><%= @course.avg_score %>/5.0（投稿数<%= @course.posts.count %>件）<div id="star-rate-<%= @course.id %>"></div></td>
      </tr>
      <tr>
       <th class="table-success">地図</th>
       <td><div id="map"></div></td>
      </tr>
     </table>

     <%= render 'avg-star', course: @course %>

     <!--地図の呼び出し-->
     <%= render 'map' %>
     <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
     </script>
   </div>
   <div class="col-md-7">
    <h3>レビューを投稿する</h3>
     <%= form_with model: @post, local:true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <table class="table form-group">
        <tr>
          <th class="table-success">画像</th>
          <td><%= f.attachment_field :post_images_images, multiple: true, class: "form-control-file" %></td>
        </tr>
        <tr>
          <th class="table-success">タイトル</th>
          <td><%= f.text_field :title, class: "form-control" %></td>
        </tr>
        <tr>
          <th class="table-success">評価(オススメ度)</th>
          <td class="form-group" id="star"></td>
        </tr>
        <tr>
          <th class="table-success">クチコミ</th>
          <td><%= f.text_area :body, size: "20x5", class: "form-control" %></td>
        </tr>
        <%= f.hidden_field :course_id, value: @course.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <tr>
         <th class="table-success"></th>
         <td>
          <%= f.submit '投稿する', class: "btn btn-outline-success btn-block" %>
         </td>
        </tr>
      </table>
        <%= render 'make_star', post: @post %>
     <% end %>
   </div>
 </div>
 <div class="row">
  <div class="col-md-12 my-3">
   <h2>レビュー一覧</h2>
    <table class="table mt-3">
      <thead class="table-success">
        <tr>
          <th>投稿日</th>
          <th>投稿者</th>
          <th>タイトル</th>
          <th>評価</th>
          <th>レビュー内容</th>
        </tr>
      </thead>
      <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td><%= post.created_at.strftime("%Y/%m/%d") %></td>
          <td>
           <%= link_to user_path(post.user) do %>
            <%= post.user.name %>
           <% end %>
          </td>
          <td><%= link_to post.title, post_path(post) %>
          </td>
          <td><%= post.rate %>/5.0<div data-turbolinks="false" id="star-rate-<%= post.id %>"></div></td>
          <td><%= post.body %></td>
        </tr>
      </tbody>
     <!--星での表示-->
      <%= render 'layouts/star', post: post %>
       <% end %>
    </table>
   <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
 </div>
</div>




