<h1>コース詳細</h1>

<table class="table">
 <tr>
   <td>コース名</td>
   <td><%= @course.name %></td>
 </tr>
 <tr>
  <td>住所</td>
  <td><%= @course.address %></td>
 </tr>
 <tr>
  <td>レビュー</td>
  <td><%= @course.avg_score %>/5.0（投稿数<%= @course.posts.count %>件）<div id="star-rate-<%= @course.id %>"></div></td>
 </tr>
 <tr>
  <td>地図</td>
  <td><div id="map"></div></td>
 </tr>
</table>

<%= render 'avg-star', course: @course %>

<!--地図の呼び出し-->
<%= render 'map' %>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<h2>レビュー一覧</h2>
 <table class="table">
   <thead>
     <tr>
       <th>投稿日</th>
       <th>投稿者</th>
       <th>タイトル</th>
       <th>評価</th>
       <th>レビュー内容</th>
     </tr>
   </thead>
   <% @posts.each do |post| %>
   <tbody>
     <tr>
       <td><%= post.created_at.strftime("%Y/%m/%d") %></td>
       <td><%= post.user.name %></td>
       <td><%= link_to post.title, post_path(post) %>
       </td>
       <td><%= post.rate %>/5.0<div data-turbolinks="false" id="star-rate-<%= post.id %>"></div></td>
       <td><%= post.body %></td>
     </tr>
   </tbody>
  <!--星での表示-->
   <%= render 'layouts/star', post: post %>
    <% end %>
 </table>
<%= paginate @posts, theme: 'twitter-bootstrap-4' %>

<h3>このコースのレビューを投稿する</h3>
 <%= form_with model: @post, remote:true do |f| %>
<table class="table">
  <tr>
    <th>画像</th>
    <td><%= f.attachment_field :post_images_images, multiple: true %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th>評価(オススメ度)</th>
    <td class="form-group row" id="star"></td>
  </tr>
  <tr>
    <th>クチコミ</th>
    <td><%= f.text_area :body %></td>
  </tr>
  <%= f.hidden_field :course_id, value: @course.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit '投稿' %>
</table>
  <%= render 'make_star', post: @post %>
 <% end %>





