<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <h2 class="my-4">投稿編集</h2>
       <%= form_with model: @post, remote:true do |f| %>
        <table class="table form-group mt-2">
          <tr>
            <th>画像</th>
            <td><%= f.attachment_field :post_images_images, multiple: true, class: "form-control-file" %></td>
          </tr>
          <tr>
            <th>タイトル</th>
            <td><%= f.text_field :title, class: "form-control"  %></td>
          </tr>
          <tr>
            <th>評価(オススメ度)</th>
            <td class="form-group row" id="star"></td>
          </tr>
          <tr>
            <th>レビュー</th>
            <td><%= f.text_area :body, class: "form-control", size: "20x10"  %></td>
          </tr>
             <%= f.hidden_field :course_id, value: @course.id %>
             <%= f.hidden_field :user_id, value: current_user.id %>
          <tr>
            <th></th>
            <td>
              <%= f.submit '編集する', class: "btn btn-success btn-block" %>
             <div class="mt-2">
              <%= link_to 'この投稿を削除する', post_path(@post), method: :delete, data: {confirm: "本当に削除しますか?"}, class: "btn btn-outline-danger btn-block"  %>
             </div>
            </td>
          </tr>
        </table>
          <%= render 'courses/make_star',  post: @post %>
       <% end %>
    </div>
  </div>
</div>





