<h2>レビュー一覧</h2>
 <table>
   <thead>
     <tr>
       <th>投稿日</th>
       <th>コース名</th>
       <th>投稿者</th>
       <th>タイトル</th>
       <th>レビュー内容</th>
     </tr>
   </thead>
   <% @posts.each do |post| %>
   <tbody>
     <tr>
       <td><%= post.created_at.strftime("%Y/%m/%d") %></td>
       <td><%= post.course.name %></td>
       <td><%= post.user.name %></td>
       <td><%= post.title %></td>
       <td><%= post.body %></td>
     </tr>
   </tbody>
 </table>
  <% end %>